<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>
                    San Martino in Pensilis is a perfect setting for experiencing
                    authentic Italian life.  Come meet the people, relax, and take
                    in all that this town has to offer.
                  </p>
                </div>
                <div class="col-lg-4">
                  <p>
                    You and your group can spend a week learning Italian, tasting
                    wine, riding horses, visiting the beach, and countless day trips!
                </div>
            </div>
        </div>
    </section>
